Install this libraries if you dont have them

In [69]:
#pip install pandasql
#pip install pandas
#pip install numpy

Here we are importing the libraries

In [6]:
import pandas as pd 
import numpy as np
import pandasql as ps

Here we are loading the dataset and look on it

In [7]:
df = pd.read_csv('Aufgabe_1_Testdaten.csv')

In [8]:
df.head(10)

   teaser_id  event_name            timestamp
0      11000  impression  2020-08-22 17:48:58
1      11017       click  2019-05-17 16:10:50
2      11005  impression  2020-08-23 03:09:53
3      11009       click  2020-02-24 05:09:36
4      11006  impression  2020-06-16 03:40:10
5      11001  impression  2019-09-18 18:31:42
6      11020  impression  2019-12-31 19:44:29
7      11018       click  2020-10-10 13:42:50
8      11015  impression  2019-03-06 02:46:27
9      11020  impression  2020-01-12 19:14:36

Here we make the SQL query and calculate the CTR

In [66]:
grouped_df = ps.sqldf("select teaser_id, SUM(CASE WHEN event_name='impression' THEN 1 ELSE 0 END) as impression, SUM(CASE WHEN event_name='click' THEN 1 ELSE 0 END) as click, ( CAST((SUM(CASE WHEN event_name='click' THEN 1 ELSE 0 END)) AS float) / (SUM(CASE WHEN event_name='impression' THEN 1 ELSE 0 END)))*100 as ctr_in_percent  from df where ( timestamp>='2020-01-01' and timestamp<='2020-12-31') group by teaser_id ")

In [67]:
grouped_df.head(10)

   teaser_id  impression  click  ctr_in_percent
0      11000         119    110       92.436975
1      11001         129    116       89.922481
2      11002         105    106      100.952381
3      11003         119    121      101.680672
4      11004         116    122      105.172414
5      11005         135    114       84.444444
6      11006         119    121      101.680672
7      11007         116    107       92.241379
8      11008         105    111      105.714286
9      11009         130    124       95.384615